body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
ul li,
ol li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
#nav {
  width: 100%;
  background: rgba(49, 53, 54, 1);
}
/* #nav .container {
  background: rgba(49, 53, 54, 1);
} */
.nav {
  width: 95%;
  display: flex;
  justify-content: space-around;
}
.logo {
  padding: 1% 2%;
  display: flex;
  justify-content: flex-start;
  width: 15%;
}
.logo,
.logo__title:hover {
  cursor: pointer;
}
.logo__title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.navbar {
  width: 75%;
}
.logo__img {
  max-width: 50px;
  max-height: 50px;
}
.navbar__item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0;
}
.navbar__title {
  padding: 3% 3%;
  font-size: 18px;
  color: #fff;
}
.navbar__title_last {
  padding-right: 0;
  margin: 0;
}
.navbar__title:hover {
  background: rgba(69, 64, 64, 1);
  color: rgba(0, 228, 114, 1);
}
.about__block_top {
  width: 100%;
  background: rgba(37, 40, 41, 1);
  padding-top: 1%;
  padding-bottom: 4%;

  /* padding: 5% auto; */
}
.about__block_top__title {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  width: 15%;
  margin: 1% auto 1% auto;
  text-align: center;
}
.about__block_top__descr {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  width: 20%;
  margin: 2% auto 2% auto;
}
.about__block_bottom {
  border: 1px solid gray;
  border-radius: 7px;
  box-shadow: 2px solid border;
  width: 70%;
  margin: 6% auto 2% auto;
}
.about__block_bottom__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  /* margin-top: 3%; */
}
.about__block_bottom__social img {
  /* border: 1px solid;
  border-radius: 10px; */
  width: 30px;
  height: 40px;
}
.about__block_bottom__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  width: 70%;
  margin: 0 auto;
  color: gray;
  text-align: center;
}
.profile {
  /* border: 1px solid white;
  border-radius: 30%; */
  width: 20%;
  margin: -15% auto auto auto;
}
.profile img {
  border-radius: 30%;
}
#experience {
  width: 100%;
}
#experience .container {
  width: 90%;
  margin: 0 auto;
}
.experience__title {
  margin: 2% auto 4% auto;
  font-weight: 700;
  font-size: 30px;
  /* margin: 0 auto; */
  width: 30%;
  height: 40%;
  color: #606060;
}
.experience__block_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 2%; */
}
.experience__block_left_top {
  border: 1px solid #606060;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  /* margin: 0 auto; */
}
.experience__block_left_title {
  padding: 1% 2%;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: #424242;
  border-radius: 10px;
}
.experience__block_left_descr {
  color: #424242;
  padding: 0 1%;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}
.experience__block_left_bottom {
  border: 1px solid #606060;
  border-radius: 10px;
  width: 30vw;
  height: 40%;
  /* margin: 0 auto 0 auto; */
  margin-top: 3%;
}

.experience__block_right_top {
  border: 1px solid #606060;
  border-radius: 10px;
  width: 30vw;
  height: 40%;
  /* margin: 0 auto; */
}
.experience__block_right_title {
  padding: 1% 1%;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #424242;
  border-radius: 10px;
}
.experience__block_right_descr {
  color: #424242;
  margin: 0 1%;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}
.experience__block_right_bottom {
  border: 1px solid #606060;
  border-radius: 10px;
  width: 30vw;
  height: 40%;
  /* margin: 0 auto; */
}
.experience__block {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.experience__block p {
  padding: 1%;
}
.experience__block_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}
.experience__block_right_bottom {
  margin-top: 2%;
}
/* slider */
.slider {
  margin-right: 1%;
  margin-bottom: 2%;
  appearance: none;
  width: 90%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}
/* slider end */
#skills {
  /* margin-top: 2%; */
  width: 100%;
  background: rgba(37, 40, 41, 1);
}
#skills .container {
  margin: 0 auto;
  max-width: 90%;
}
.skills__article {
  padding: 2%;

  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 2px solid #00e472;
  border-radius: 15px;
}
.skills__title {
  /* margin: 0 auto; */
  font-weight: 400;
  font-size: 22px;
  color: antiquewhite;
}
.skills__data {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}
.skills__section__title {
  width: 10%;
  margin: 0 auto 2% auto;
  padding-top: 2%;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}
.skills__block {
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
#education {
  width: 100%;
  background: rgba(37, 40, 41, 1);
}
#education .container {
  max-width: 90%;
  margin: 0 auto;
}
.education__section__title {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  width: 10%;
  margin: 0 auto;
}
.education__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.education__title {
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  color: #00e472;
}
.education__title_second {
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 1%;
}
.education__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #abaeb0;
}
.education__img {
  max-width: 30%;
  max-height: 30%;
  border-radius: 10px;
}
.education__block__content__item {
  margin-bottom: 5%;
}
.education__line {
  max-height: 20%;
}
.portfolio__section__title {
  margin: 0 auto;
  width: 10%;
  font-weight: 700;
  color: #fff;
}
#portfolio {
  width: 100%;
  background: rgba(37, 40, 41, 1);
  padding-bottom: 2%;
}
#portfolio .container {
  margin: 0 auto;
  width: 90%;
}
.portfolio__block__article li {
  margin: 2%;
  display: block;
  width: 300px;
  height: 300px;
}
.portfolio__block__article li:nth-child(2) {
  order: 1;
}
.portfolio__block__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.portfolio__block__article {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: space-around;
}
li hr {
  border: 2px solid #00e472;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.contact__block__left__article img {
  width: 20%;
  height: 20%;
}
.contact__section__title {
  font-weight: 700;
  font-size: 2em;
  color: rgba(37, 40, 41, 1);
  margin: 2% auto;
  width: 10%;
}
.contact__block {
  display: flex;
  justify-content: space-around;
}
.contact__block__left__article {
  display: flex;
  flex-direction: column;
}
.contact__block__right {
  display: flex;
  flex-direction: column;
}
